#log {
	position: absolute;
	width: 1000px;
}

#padding {
	position: relative;
}

.testBox {
	width: 100%;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: absolute;
	left: 0px;
	top: 0px;
}
